<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__top-section">
    <div class="mdl-mega-footer__left-section">
      <a title="Blog" href="http://blog.scalingo.com"><button class="mdl-mega-footer__social-btn"><i class="fa fa-lg fa-rss"></i></button></a>
      <a title="Newsletter" href="http://us7.campaign-archive2.com/home/?u=208037d122a791275e9a8465a&id=b91688b390"><button class="mdl-mega-footer__social-btn"><i class="fa fa-lg fa-envelope-o"></i></button></a>
      <a title="Facebook" href="https://www.facebook.com/ScalingoHQ"><button class="mdl-mega-footer__social-btn"><i class="fa fa-lg fa-facebook"></i></button></a>
      <a title="Twitter" href="https://twitter.com/ScalingoHQ"><button class="mdl-mega-footer__social-btn"><i class="fa fa-lg fa-twitter"></i></button></a>
      <a title="Github" href="https://github.com/Scalingo"><button class="mdl-mega-footer__social-btn"><i class="fa fa-lg fa-github"></i></button></a>
      <a title="Linkedin" href="https://www.linkedin.com/company/scalingo"><button class="mdl-mega-footer__social-btn"><i class="fa fa-lg fa-linkedin"></i></button></a>
      <a title="Telegram channel" href="https://telegram.me/scalingo"><button class="mdl-mega-footer__social-btn"><i class="fa fa-lg fa-paper-plane"></i></button></a>
    </div>
  </div>

  <div class="mdl-mega-footer__middle-section">

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Product</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="https://scalingo.com/magic">How does it work?</a></li>
        <li><a href="https://scalingo.com/tour">Product tour</a></li>
        <li><a href="https://scalingo.com/technologies">Supported technologies</a></li>
        <li><a href="https://scalingo.com/pricing">Pricing</a></li>
        <li><a href="https://scalingo.com/calculator">Calculator</a></li>
        <li><a href="https://scalingo.com/enterprise">Scalingo Enterprise</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Platform</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="http://cli.scalingo.com/">Command Line Interface</a></li>
        <li><a href="http://developers.scalingo.com/">API</a></li>
        <li><a href="https://scalingo.com/addons">Add-ons</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Company</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="https://scalingo.com/about">About us</a></li>
        <li><a href="http://blog.scalingo.com/">Blog</a></li>
        <li><a href="https://scalingo.com/contact">Contact</a></li>
        <li><a href="https://scalingo.com/jobs">Jobs</a></li>
        <li><a href="https://scalingo.com/datacenters">Datacenters</a></li>
        <li><a href="https://scalingo.com/mediakit.zip">Media kit</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Help</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="http://doc.scalingo.com/">Documentation</a></li>
        <li><a href="http://changelog.scalingo.com/">Changelog</a></li>
        <li><a href="http://status.scalingo.com/">Platform Status</a></li>
      </ul>
    </div>

  </div>

  <div class="mdl-mega-footer__bottom-section">
    <a href="https://scalingo.com/">
      <div class="mdl-logo">
	<img src="https://scalingo.com/logo-inverse-mini.png">
      </div>
    </a>
    <ul class="mdl-mega-footer__link-list">
      <li><a href="https://scalingo.com/tos">Terms of service</a></li>
      <li><a href="https://scalingo.com/policy/privacy">Privacy Policy</a></li>
    </ul>
  </div>

</footer>
