<footer>
  <div class="container">
    <div class="row text-center">
    <ul class="list-unstyled">
      <li>Scalingo SAS 15 avenue du Rhin 67100 Strasbourg France</li>
      <li>
        <ul class="list-inline">
          <li><a href="https://scalingo.com/">Main site</a></li>
          <li><a href="http://doc.scalingo.com">Documentation</a></li>
          <li><a href="http://developers.scalingo.com/">API Documentation</a></li>
          <li><a href="http://cli.scalingo.com/">CLI</a></li>
          <li><a href="http://changelog.scalingo.com">Changelog</a></li>
          <li><a href="http://status.scalingo.com">Status</a></li>
          <li><a href="https://my.scalingo.com">Your dashboard</a></li>
        </ul>
      </li>
    </ul>
  </div>
</footer>
